*{
    margin: 0;
    padding: 0;
   

}
header{
	background-color: white;
	
}
.header {
    width: 70px;
    height: 70px;

    background: #000000;
    position: absolue;
    margin-left: 0px;
    margin-right: auto;

  }

      .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
body {
	background-repeat: no-repeat;
	 background-size: 100%;
	 background-position: left right center buttom;
	 
}

.menu{
    display: flex;
    position: sticky;
    align-items: right;
    justify-content: right;
    top: 0;
    cursor: pointer;
		background-color: rgb(9, 9, 9);
	background-size: 200%;
}
.menu-list{
	
    width: 65%;
    display: flex;

}
.menu-list li{
    list-style: none;
    padding: 20px 20px;

}
.menu-list li a{
    text-decoration: none;
    color:white;
    font-size: 120%;
    font-weight: 900;
	
	background-size: 200%;
	
}
.menu-list li a:hover{
    color:rgb(80, 86, 77);
	background-color: rgb(246, 246, 246);
	background-size: 200%;
}

img{
         width: 100%;
        padding: 0px;     
    }
.quotes{
    text-align: center;
    letter-spacing: 10px;
    font-size: 120%;
    color: rgb(2, 27, 2);
}
