*{
    margin: 0;
    padding: 0;
   

}
header{
	background-color: white;
}
body {
	background-repeat: no-repeat;
	 background-size: 100%;
	 background-position: left right center buttom;
	 
}

.menu{
    display: flex;
    position: sticky;
    align-items: right;
    justify-content: right;
    top: 0;
    cursor: pointer;
		background-color: rgb(9, 9, 9);
	background-size: 200%;
}
.menu-list{
	
    width: 65%;
    display: flex;

}
.menu-list li{
    list-style: none;
    padding: 20px 20px;

}
.menu-list li a{
    text-decoration: none;
    color:white;
    font-size: 120%;
    font-weight: 900;
	
	background-size: 200%;
	
}
.menu-list li a:hover{
    color:rgb(80, 86, 77);
	background-color: rgb(246, 246, 246);
	background-size: 200%;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  